.nav-icon-line{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-icon-line #nav-text-in{
  margin-left: 63px;
  position: relative;
  top: 11px;
  text-transform: uppercase;
  color: #fff;
  font-size: 19px;
  float: left;
}
#nav-icon{
  float: left;
  display: none;
  width: 31px;
  height: 30px;
  border-radius: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 75%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 7px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon span:nth-child(4) {
  top: 25px;
}

.open{
  z-index: 999999;
  top: 27px;
  right: 47px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.opener{
  display: flex!important;
  max-height: 500px!important;
  transition: max-height 1s ease;
  overflow: hidden;
  width: 100%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon-line{
  display: none;
}

/*==========  Desktop First Method  ==========*/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .nav-icon-line{
    display: flex;
  }
  #nav-icon{
    display: flex;
  }
}

